* {
	margin: 0;
	padding: 0;
}

ol,ul {
	list-style: none;
}

a {
	text-decoration: none;
}
.bottom {
	height: 60px;
	width: 100%;
	background: black;
	opacity: 0.4;
	bottom: 0px;
	clear: both;
}
.bottom ul {
	width: 1000px;
	margin: 0 auto;
}

.bottom ul li a {
	height: inherit;
	line-height: 60px;
	display: inline-block;
	float: left;
	width: 200px;
	color: white;
	font-size: 15px;
}